<div class="container">
        <div class="row mt-5 text-left">
            <div class="col-lg-5 col-md-6 m-auto mb-4">
                <!--Section: Live preview-->
                <section class="form-light">
                    <!--Form without header-->
                    <div class="card card-image">
                        <!-- style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table7.jpg');background-size: cover" -->
                        <form ng-hide="hide" ng-submit="savePassword(regData, regForm.$valid, confirmed)" class=" py-4 px-5 row" name="regForm">
    
                            <!--Header-->
                            <div class="text-center col-sm-12">
                                <h3 class="mb-5 mt-4 font-weight-bold">
                                    <strong>RESET</strong>
                                    <a class="green-text font-weight-bold">
                                        <strong> PASSWORD</strong>
                                    </a>
                                </h3>
                            </div>
                            <div class="col-sm-12">
                                <div class="md-form pb-3">
                                    <span class="showPassword">
                                        <i class="far fa-eye-slash" ng-click="togglePassword()" ng-show="viewPassword"></i>
                                        <i class="far fa-eye" ng-click="togglePassword()" ng-hide="viewPassword"></i>
                                    </span>
                                    <input type="{{ typePassword ? 'text' : 'password' }}" name="password" id="Form-pass"
                                        class="form-control" ng-model="firstPassword"
                                        ng-pattern="'(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{6,}'"
                                        required>
                                    <label for="Form-pass" class="">Password</label>
                                    <span class="text-red" ng-show="regForm.password.$dirty && regForm.password.$invalid">
                                        <span ng-show="regForm.password.$error.required">Password is required.<br></span>
                                        <span ng-show="regForm.password.$error.pattern">password must contain at least 1
                                            uppercase, 1 lowercase, 1 special character and 1 number</span>
                                    </span>
    
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="md-form pb-3">
                                    <span class="showPassword">
                                        <i class="far fa-eye-slash" ng-click="togglePassword()" ng-show="viewPassword"></i>
                                        <i class="far fa-eye" ng-click="togglePassword()" ng-hide="viewPassword"></i>
                                    </span>
                                    <input type="{{ typePassword ? 'text' : 'password' }}" name="confirmPassword"
                                        id="Form-pass5" class="form-control" ng-model="confirm"
                                        ng-change="regData.password = confirm" match="{{[firstPassword]}}" required>
                                    <label for="Form-pass5" class="">Confirm Password</label>
                                    <span class="text-red"
                                        ng-show="regForm.confirmPassword.$dirty && regForm.confirmPassword.$invalid">
                                        <span ng-show="regForm.confirmPassword.$error.required || regForm.$invalid" disabled>Password is required.</span>
                                    </span>
                                    <p class="text-red" ng-show="!confirmed &&!regForm.confirmPassword.$error.required">Password do not match</p>
                                </div>
                            </div>
                            <!--Grid row-->
                            <div class="col-sm-12 d-flex align-items-center mb-4">
    
                                <!--Grid column-->
                                <div class="row text-center mb-3 col-md-12">
                                    <button type="submit"
                                        class="col-sm-12 m-auto btn btn-success btn-block btn-rounded z-depth-1 waves-effect waves-light" ng-disabled="regForm.password.$dirty && regForm.password.$invalid || regForm.confirmPassword.$dirty && regForm.confirmPassword.$invalid || regForm.$invalid">Reset Password</button>
    
                                </div>
                                <!--Grid column-->
                            </div>
    
                        </form>
                    </div>
                    <!--/Form without header-->
    
                </section>
                <!--Section: Live preview-->
                <!-- <div class="row px-3 mt-4 zoomIn animated" ng-show="successMsg">
                    <div class="col-sm-12 alert alert-success">{{successMsg}}</div>
                </div>
                <div class="row px-3 mt-4 zoomIn animated" ng-show="errorMsg">
                    <div class="col-sm-12 alert alert-danger">{{errorMsg}}</div>
                </div> -->
                <div class="px-3 text-center mt-4" ng-show="loading">
                    <i class="fas fa-spinner fa-2x fa-spin"></i><br>
                    Please wait...
                </div>
            </div>
            <!--Grid column-->
    
        </div>
    </div>
    
    <!-- <input type="text" placeholder="Password" ng-model="firstPassword">
    <br>
    <br>
    <input type="text" placeholder="Confirm Password" ng-model="confirm" match="{{[firstPassword]}}">
    <p ng-show="!confirmed">Password do not match</p> -->
    <toaster-container toaster-options="{'close-button':true}"></toaster-container>